/* variables globales */
@font-face {
  font-family: "skog";
  src: url("../font/skog.ttf");
}
/* line 16, ../scss/base.scss */
body {
  background-color: black;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
