@import "compass";

$darkblue: #213240;
$mediumblue: #90AEC6;
$lightblue: #10C8CD;
$pink: #EC1559;
$yellow: #FAF93C;


@font-face { 	font-family: "skog"; 	src: url('../font/skog.ttf'); }

body{
  background-color: black;

  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  color: $darkblue;
}

h1{
  font-family:skog, "Trebuchet MS", Arial, Helvetica, sans-serif;
}

@mixin border-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-right-radius: $radius;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 5px;

  background-color: $darkblue;

  h1{
    text-align: center;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.subhead{
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;


  background-color: $mediumblue;

  text-align: center;
  font-size: 0.8rem;
}

.view{
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $mediumblue;
}

.panel {

  background-color: $lightblue;

  .countrylist {
    margin: 0;
    padding: 0;

    background-color: $pink;

    .country{
      list-style: none;
      line-height: 20px;
      vertical-align: middle;

      padding: 6px;
      margin-left: 0;

      background-color: $lightblue;

      border: 2px solid $mediumblue;

      font-size: 0.9rem;
      font-weight: bold;

      a{
        text-decoration: none;
        color: $darkblue;
      }
    }
  }
}

/*page du pays*/
.country {
  h2 {
    width: 100%;

    padding-left: 5px;

    background-color: $pink;

    font-size: 1.4rem;
    color: #FFF;
  }

  h3{
    padding-left: 5px;

    background-color: $pink;

    font-size: 1.2rem;
    color: #FFF;
  }

  h4{
    padding-left: 5px;

    font-size: 1rem;

    color: $darkblue;
  }

  .info {
    img {
      width: 100%;
    }
  }

  .generals{

    font-size: 1.0rem;
  }

  .back{
    background-color: $pink;

    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;

    @include border-radius(20px);

    font-size: 1.4rem;
    color: $yellow;
    text-decoration: none;
    font-weight: bold;
  }

}

