@import 'base';

body{
  background-color: white;
}

.backup{
  position: absolute;
  height: 32px;
  top: 0;
  left: 50%;
  margin-left: -88px;

  z-index: 10;
  a{
    background-color: none;
  }
}

.main-layout-blog{
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left:8px;
  padding-right:8px;
  padding-bottom:8px;
  padding-top:0px;

  overflow-y: scroll;
  z-index: 1;

  text-align: center;

  img{
    width:100%;
  }
  .article{
    margin-top:8px;
    padding-top:2px;
    padding-bottom:4px;
    padding-left:8px;
    padding-right:8px;

    background:rgba(255,255,255,0.76);

      p{
        opacity: $opacity;
        color:$black;
        text-align: left;
      }

    p:first-child {
      font-weight:bold;
    }

  }
}

