@import 'base';

.main-layout{
  position: absolute;
  top: 100px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: $white;
  opacity: $opacity;


  .personal-data{
    text-align: left;
  }

  label{
    color: $black;
  }

  input{
    margin-bottom: 10px;

    color: $black;
  }


  input[type="checkbox"] {
    display:none;
  }
  input[type="checkbox"] + label span {
    display:inline-block;
    width:25px;
    height:25px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url("../img/checkboxboth.png") left top no-repeat;
    cursor:pointer;
  }
  input[type="checkbox"]:checked + label span {
    background:url("../img/checkboxboth.png") -25px top no-repeat;
  }


}

.confidentiality{
  padding-bottom: 10px;

  text-align: left;
  color: $black;

}

.title-form{
  height: 30px;
  width: 100%;
  margin-bottom: 8px;

  background-color: $green;

  color: white;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;

  img{
    float: left;
    margin-top: 3px;
    margin-left: 5px;
  }
}