@import "compass";
@import "base";

.logo-principal{
  position: absolute;
  top:2.2em;
  width:100%;
  height:85px;
  left:0px;

  background-image: url('../img/covoiturageLogo.png');
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;
}

.menu-principal{
  position: absolute;
  width:59px;
  height:58px;
  top:0em;
  right:0em;
  z-index: 20;



  background-image: url('../img/menu.png');
  background-position: right;
  background-repeat: no-repeat;

  text-align: center;
}

.btn-vertical-left{
  position:absolute;
  height:12em;
  width:44px;
  top:18em;
  left:0em;

    .triangleHaut {
      position: absolute;
      top: 0px;
    }
    .triangleBas {
      position: absolute;
      bottom: 0px;
    }
    .vertical-milieu {
      position: relative;
      top: 2.8em;
      height: 103px;
      width: 100%;

      background-color: $green;

      .text-vertical-left{
        padding-bottom: 5px;
        transform:rotate(90deg);
        line-height: 60px;
      }
    }
  }

.btn-vertical-right{
  position:absolute;
  height:12em;
  width:44px;
  top:18em;
  right:0em;
  .triangleHaut {
    position: absolute;
    top: 0px;
  }
  .triangleBas {
    position: absolute;
    bottom: 0px;
  }
  .vertical-milieu {
    position: relative;
    top: 2.8em;
    background-color: $green;

    height: 103px;
    width: 100%;
    .text-vertical-right{
      transform:rotate(270deg);
      line-height:116px;
    }
  }
}
.btn-centre-bas{
  position:absolute;
  width:100%;
  height:45px;
  bottom:0em;

.btn-horizontal-bas {
    position: absolute;
    margin:auto;
    width: 12em;
    bottom:0em;
    left:50%;
  margin-left:-104px;

    text-align: center;
    .triangleGauche {
      position: absolute;
      left: 0em;
      bottom: 0em;
    }
    .triangleDroit {
      position: absolute;
      right: 0em;
      bottom: 0em;
    }
    .horizontal-milieu {
      position: relative;
      left: 44px;
      width: 104px;
      height: 45px;
      background-color: $green;

        p{
          padding-top:12px;
        }
    }
  }
}

.top-menu{
  /* hide at start */
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  padding-top: 20px;
  z-index: 10;
  opacity: 0.9;

  background-color: $white;

  border-bottom: 2px solid $lightgreen;

  ul{
      margin-top: 1px;
    li{
      z-index: 30;
      padding-top: 9px;
      padding-bottom: 9px;
      list-style-type: none;

      a{
        margin: 0px;
        display: block;
        width: 100%;
        height: 100%;

        color: $black;
      }

    }

  }
}













