@import 'base';

.backup-triangle{
  position:absolute;
  height: 32px;
  top: 0px;
  left:0px;
  z-index:2;
}

.main-rides{
  position: absolute;
  top: 10px;
  left: 8px;
  right: 8px;

  overflow-y: scroll;
  z-index: 1;

  text-align: center;

  .rides {
    position: absolute;
    top: 70px;
    left: 8px;
    right: 8px;

    .ride {

      margin-bottom: 4px;

      font-size: 0.8rem;
      text-align: left;
    }
  }
}

.trajet-blanc {
  width: 100%;
  border: solid black 0px;
  margin: 0px;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;

  background-color: rgba(255,255,255,0.76);

  color: $black;

  tr {
    height: 15px;
  }

  .villes {
    width: 85%;
  }

  .dates {
    width: 85%;
    font-weight: bold;
  }

  .heure {
    width: 15%;
    text-align: center;
  }
  .carre-blanc {
    margin-left: 1.5%;
    float: left;
    width: 11%;
    height: 26px;

    text-align: center;
    vertical-align: middle;

    border: 2px solid $green;
    background-color: $white;
    opacity: 1.5;
    overflow: hidden;

    p {
      margin: 0px;
      padding-top: 6px;
    }
  }

  .carre-vert {
    margin-left: 1.5%;
    float: left;
    width: 11%;
    height: 26px;

    text-align: center;

    border: 2px solid $green;
    background-color: $green;
    opacity: 1.5;

    color: $white;
    p {
      margin: 0px;
      padding-top: 6px;
    }
  }
}

.trajet-vert {
  width: 100%;
  border: solid black 0px;
  margin: 0px;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;

  background-color: rgba(13,146,75,0.76);

  color: $white;

  tr {
    height: 15px;
  }

  .villes {
    width: 85%;
  }

  .dates {
    width: 85%;
    font-weight: bold;
  }

  .heure {
    width: 15%;
    text-align: center;
  }
  .carre-blanc {
    margin-left: 1.5%;
    float: left;
    width: 11%;
    height: 26px;

    text-align: center;
    vertical-align: middle;

    border: 2px solid $green;
    background-color: $white;
    opacity: 1.5;
    overflow: hidden;

    color:$black;

    p {
      margin: 0px;
      padding-top: 6px;
    }
  }

  .carre-vert {
    margin-left: 1.5%;
    float: left;
    width: 11%;
    height: 26px;

    text-align: center;

    border: 2px solid $white;
    background-color: $green;
    opacity: 1.5;

    color: $white;
    p {
      margin: 0px;
      padding-top: 6px;
    }
  }
}


