@import 'base';

body{
  background-color: white;
}

.backup{
  position: absolute;
  height: 32px;
  top: 0;
  left: 50%;
  margin-left: -88px;

  z-index: 10;
}

.main-rides{
  position: absolute;
  top: 10px;
  left: 8px;
  right: 0;
  bottom: 0;

  overflow-y: scroll;
  z-index: 1px;

  text-align: center;

  .rides {
    position: absolute;
    top: 70px;
    left: 8px;
    right: 8px;

    .ride {

      margin-bottom: -8px;

      font-size: 0.8rem;
      text-align: left;

      ul {
        padding-top: 3px;
        padding-bottom: 3px;

        list-style-type: none;

        li {
          padding-top: 2px;
          padding-bottom: 2px;

        }
      }

      ul li:nth-child(1) {
        font-weight: bold;
      }


      .white {
        background-color: $white;
        opacity: $opacity;

        color: $black;
      }

      .green {
        background-color: $green;
        opacity: $opacity;

        color: $white;
      }
      /* ajoute un petit volan devant le trajet */
      .driver {
        background-image: url("../img/driver.png");
        background-repeat: no-repeat;
        background-position: 3px 3px;
      }
    }
  }
}

